global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "api"
    static_configs:
      - targets: ["api:8080"]

  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
